In [1]:
#Importando pandas e abrindo o arquivo
import pandas as pd
df= pd.read_csv("houses_to_rent_v2.csv")

In [17]:
# Usando o sort_values
df.sort_values("city").head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
3755,Belo Horizonte,46,2,1,1,2,acept,not furnished,200,1050,27,14,1291
8477,Belo Horizonte,20,1,1,1,1,not acept,not furnished,0,1000,0,14,1014
8476,Belo Horizonte,208,3,4,3,-,acept,not furnished,0,6000,338,99,6437
464,Belo Horizonte,45,2,1,0,-,acept,not furnished,0,1350,0,23,1373
443,Belo Horizonte,312,4,3,3,1,acept,not furnished,1498,2300,463,31,4292

In [22]:
# Ordenando por mais de uma coluna
df.sort_values(["city", "rooms"]).head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
7693,Belo Horizonte,44,1,1,1,15,acept,not furnished,550,3400,222,46,4218
6552,Belo Horizonte,19,1,1,0,1,not acept,not furnished,0,1200,37,16,1253
9313,Belo Horizonte,78,1,1,1,15,not acept,not furnished,775,2300,128,31,3234
979,Belo Horizonte,53,1,1,0,1,acept,not furnished,398,1300,89,18,1805
5607,Belo Horizonte,20,1,1,0,6,not acept,not furnished,420,1050,79,14,1563

In [25]:
# Ordenando com asc ou desc
df.sort_values("city", ascending=True).head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
9769,São Paulo,50,2,1,1,7,acept,not furnished,400,1850,167,24,2441
2389,São Paulo,45,2,1,1,17,acept,not furnished,300,1600,34,21,1955
2385,São Paulo,400,3,5,4,20,acept,furnished,3500,10000,1250,127,14880
2384,São Paulo,218,3,3,3,17,not acept,not furnished,2300,4000,775,51,7126
2383,São Paulo,34,1,1,1,9,not acept,not furnished,1200,1300,100,17,2617

In [26]:
# Ordenando mais de uma coluna com ascending, passando parâmetros por dentro dos vetores.
df.sort_values(["city", "rooms"], ascending=[True, False]).head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
752,Belo Horizonte,341,10,6,7,-,acept,not furnished,0,5500,459,91,6050
3792,Belo Horizonte,800,8,7,4,-,acept,not furnished,0,14000,834,230,15060
10587,Belo Horizonte,500,8,5,8,-,acept,not furnished,0,5000,150,82,5232
5660,Belo Horizonte,300,8,3,1,-,acept,not furnished,0,4000,500,66,4566
9021,Belo Horizonte,458,8,10,4,-,acept,not furnished,0,7000,419,115,7534

In [31]:
# Ordenando colunas com passagem de parâmetro
colunas = ["city", "rooms"]
ordenacao = ["True", "False"]

df.sort_values(colunas, ascending= ordenacao).head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
7693,Belo Horizonte,44,1,1,1,15,acept,not furnished,550,3400,222,46,4218
6552,Belo Horizonte,19,1,1,0,1,not acept,not furnished,0,1200,37,16,1253
9313,Belo Horizonte,78,1,1,1,15,not acept,not furnished,775,2300,128,31,3234
979,Belo Horizonte,53,1,1,0,1,acept,not furnished,398,1300,89,18,1805
5607,Belo Horizonte,20,1,1,0,6,not acept,not furnished,420,1050,79,14,1563

In [28]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
3755,Belo Horizonte,46,2,1,1,2,acept,not furnished,200,1050,27,14,1291
10088,Belo Horizonte,476,3,2,2,-,not acept,not furnished,0,6100,202,101,6403
7693,Belo Horizonte,44,1,1,1,15,acept,not furnished,550,3400,222,46,4218
5611,Belo Horizonte,308,4,5,4,18,acept,furnished,1750,15000,167,200,17120
6131,Belo Horizonte,320,4,5,4,6,not acept,not furnished,3480,5000,940,67,9487